html {
    scroll-padding-top: 50px;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
}

header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #222;
    font-size: 14px;
}
/* center elements of header vertically */
ul {
    display: flex;
    align-items: center;
    margin-right: 100px;
}

a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    color: #9d9d9d;
}
/* space out elements in header from each other */
nav ul li {
    display: flex;
    align-items: center;
    padding: 15px;
    color: #9d9d9d;
}

nav ul li:hover, nav ul li:focus, a:hover, a:focus {
    color: white;
    cursor: pointer;
    outline: none;
}

#container, #content {
    height: 100%;
    width: 100%;
}

.background-image {
    height: 100%;
    width: 100%;
    background: no-repeat center center/cover fixed;
}

#welcome-header{
    color: white;
}

#welcome-text {
    position: relative;
    left: 20%;
    bottom: 10px;
    font-family: "Comic Sans MS";
    font-size: 57px;
}

#captain-k {
    font-size: 93px;
    font-family: "Arial Black";
}

h2#about {
    position: absolute;
    top: 25%;
    color: rgb(231, 179, 37);
    font-family: "Comic Sans MS";
    font-size: 57px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bold {
    font-weight: 800;
}


